.head-section {
    background-color: #f3e5ab;
}

body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}

h1 {
    font-family: 'Poetsen One', sans-serif;
    font-size: 60px;
    color: #dc3545; /* Ubah warna ke merah */
    font-weight: 500; /* Tambahkan ketebalan font */
}

.form-control {
    width: auto;
    border-radius: 50px; /* Tambahkan radius sudut */
    border: 1px solid #DC3545; /* Atur border */
    padding: 10px; /* Atur padding */
    font-size: 13px; /* Atur ukuran font */
    background-color: transparent; /* Atur latar belakang transparan */
}

.btn{
    background-color: #f3e5ab;
    color: #4b3131;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 10px;
}

.testimonials{
    padding: 5rem 0;
    background-color: #f3e5ab;
}
  
.testimonial-text {
    color: #4b3131;
}
  
  .testimonials-name{
    color: #632020;
}
  
  .testimonial-card{
    width: 50%;
}

.dropdown-menu {
    background-color: transparent; /* Warna latar belakang dropdown */
    border: 1px solid black; /* Garis tepi dropdown */
    border-radius: 5px; /* Radius sudut dropdown */
}

/* Mengatur tampilan opsi dropdown saat dihover */
.dropdown-menu a.dropdown-item:hover {
    background-color: #DC3545; /* Warna latar belakang saat dihover */
    color: white; /* Warna teks saat dihover */
}

/* Mengatur warna teks dropdown */
.dropdown-menu a.dropdown-item {
    color: #333; /* Warna teks dropdown */
}

/* Mengatur garis pemisah dropdown */
.dropdown-divider {
    border-top: 1px solid black; /* Garis pemisah dropdown */
}
